.solver-numbers{
    
    width: 35px;
    &.rows{
        display: flex;
        height: 36px;
        width: auto;
        justify-content: flex-end;
        align-items: center;
        border: 2px solid transparent;
        .number{
            padding: 0 8px;
    }
    }
}
