@import '../../../styles/colors.scss';

.modal.display{
    display: flex;
    background: $blackModal;
    // background: #2e2e2e5e;
    align-items: center;
}
.modal-dialog{
    width: 30%;
}
.modalButton.btn-success{
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition:    -moz-transform .5s ease-in-out;
    -o-transition:      -o-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    &:hover{
        // background-color: lighten($whitelogo, 10%);
        transform: scale(1.1);
    }
}

body {
    margin: 0;
    padding: 0;
  /*   background: #000; */
    // overflow: hidden;
}
  