@import '../../../../styles/mixins.scss';

.board-flex-wrapper{
    // margin-left: -36px;
    display: flex;
    align-items: flex-end;
}
.board-container {
    border: 4px solid black;
}

.game-row {
    display: flex;
    @include each(5){
        border-bottom: 4px solid black;
    }
}

.solver-number-container-cols{
    display: flex;
    align-items: flex-end;
    border: solid 1px;
}
.solver-number-container-rows{
    border: solid 1px;
}


