@import '../../styles/colors.scss';

.navbar-brand > img{
  // background: url('../../data/logo.png');
  width:30px;
  height:30px;
  alt: "NonoLogo";
}
.nav-item{
  -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition:    -moz-transform .5s ease-in-out;
    -o-transition:      -o-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
  &:hover{
        // background-color: lighten($whitelogo, 10%);
        transform: scale(1.05);
    }
}