@import '../../../../styles/colors.scss';


@mixin each($num) {
    &:nth-child(#{$num}n) {
      @content
    }
  }  

.game-square{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    font-size: 35px;
    @include each(5){
        // margin-bottom: 3px;
        // margin-right: 2px;
        border-right: 3px solid green;
    }

}
