@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';


.game-square{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    font-size: 35px;
    @include each(5){
        border-right: 4px solid black;
    }

}
