@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';


.game-square{
    height: 35px;
    width: 35px;
    margin: 0 0;
    font-size: 24px;
    @include each(5){
        border-right: 4px solid black;
    }
    &:disabled{
    }
}
