@import '../../styles/colors.scss';

.start-game-button{
    background-color: $green;
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition:    -moz-transform .5s ease-in-out;
    -o-transition:      -o-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    &:hover{
        background-color: lighten($green, 10%);
        transform: scale(1.1);
        // font-size-adjust: 0.58;
    }
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoTile{
    fill: $whitelogo;
    stroke: black;
    
    &.filled{
        fill: $fillLogo;
    }
}

#svg, .logo-container{
    cursor: pointer;
    height: 160px;
    width: 160px;
    // border: green 1px solid;;
}
.header {
    color: $green;
    text-align: center;
}
.menu-list{
    display: flex;
    width: 50%;
    margin: 30px auto;
    flex-direction: column ;

    .menu-item {
        width: 100%;
    }
    
    .menu-button{
        margin: 10px 0;
        background-color: $green;
        font-size: 16px;
        width: 100%;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        -moz-transition:    -moz-transform .5s ease-in-out;
        -o-transition:      -o-transform .5s ease-in-out;
        transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        &:hover{
            background-color: lighten($green, 10%);
            transform: scale(1.1);
            font-size-adjust: 0.58;
        }
    }
}